svg.arrow(x='0px', y='0px', width='35px', height='35px', viewbox='0 0 35 35', enable-background='new 0 0 35 35', xml:space='preserve')
      line(fill='none', stroke='#010002', stroke-width='2', stroke-linecap='round', stroke-miterlimit='10', x1='32.983', y1='28.784', x2='17.087', y2='12.888')
      line(fill='none', stroke='#010002', stroke-width='2', stroke-linecap='round', stroke-miterlimit='10', x1='17.087', y1='12.888', x2='1.862', y2='28.112')
      line(fill='none', stroke='#010002', stroke-width='2', stroke-linecap='round', stroke-miterlimit='10', x1='32.648', y1='23.225', x2='16.752', y2='7.329')
      line(fill='none', stroke='#010002', stroke-width='2', stroke-linecap='round', stroke-miterlimit='10', x1='16.752', y1='7.329', x2='1.527', y2='22.554')