svg(x='0px', y='0px', width='25px', height='25px', viewbox='0 0 30 30')
	path#facebook(fill='#939393',d='M17.276,0.208c-3.142,0-5.689,2.548-5.689,5.689V9.31H7.035v4.551h4.551V29.79h4.551V13.862h5.12l1.138-4.551h-6.258V5.897\
      c0-0.628,0.51-1.138,1.138-1.138h5.689V0.208H17.276z')