svg(x='0px', y='0px', width='25px', height='25px', viewbox='0 0 30 30')
      path#twitter(fill='#939393', d='M29.851,5.788c-1.092,0.485-2.268,0.812-3.5,0.96c1.258-0.755,2.224-1.948,2.68-3.371\
      c-1.178,0.698-2.482,1.206-3.87,1.479c-1.112-1.184-2.695-1.924-4.448-1.924c-3.366,0-6.094,2.728-6.094,6.094\
      c0,0.478,0.054,0.943,0.158,1.389c-5.064-0.254-9.555-2.681-12.56-6.367c-0.524,0.9-0.825,1.946-0.825,3.064\
      c0,2.114,1.076,3.979,2.711,5.073c-0.999-0.032-1.938-0.305-2.76-0.762c-0.001,0.025-0.001,0.051-0.001,0.077\
      c0,2.953,2.1,5.415,4.888,5.975c-0.511,0.139-1.05,0.213-1.606,0.213c-0.393,0-0.774-0.038-1.146-0.11\
      c0.775,2.421,3.026,4.182,5.693,4.232c-2.086,1.635-4.713,2.608-7.568,2.608c-0.492,0-0.976-0.029-1.454-0.085\
      c2.696,1.729,5.9,2.738,9.341,2.738c11.209,0,17.338-9.286,17.338-17.339c0-0.265-0.006-0.527-0.018-0.788\
      C28.001,8.083,29.034,7.01,29.851,5.788L29.851,5.788z')
   