doctype html
html(lang="es")
	head
		meta(charset="UTF-8")
		title Yellow Template
		meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
		link(rel="stylesheet", href="css/main.css")
		
	body
		include includes/header.jade
		include includes/services.jade
		include includes/who.jade
		include includes/desc1.jade
		include includes/datos.jade
		include includes/desc2.jade
		include includes/team.jade
		include includes/socket.jade
		include includes/scripts.jade