section#who
	.who-container
		article
			h2 LOREM IPSUM <span>DOLOR SIT</span>
			h3 LOREM IPSUM DOLOR SIT AMET, CONSECTEUR
			figure
				img(src="includes/icons/objetivos.svg", alt="")
			p Carles semiotics Shoreditch food truck High Life, <span class="span-y">Odd Future</span> gastropub bitters Echo Park craft beer. McSweeney’s keytar, <span class="span-g">Williamsburg</span> authentic farm-to-table cray church-key selfies.
			br
			p Chillwave kogi roof party <span class="span-y">vinyl flannel</span> jean shorts meggings Echo Park. Authentic vegan umami quinoa, paleo stumptown post-ironic kitsch disrupt deep v crucifix <span class="span-g">single-origin</span> coffee viral twee.
		
		.image-decoration
			img(src="images/book.png", alt="")